---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Merriweather', georgia, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$base-background-color: #F0E8FA;
$base-border-color: rgba(0, 0, 0 ,.1);

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$brand-color:      #2a7ae2;

$grey-color:       rgba(0, 0, 0 ,.5);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        900px;


$black:            rgba(0, 0, 0, .9);
$light-black:      rgba(0, 0, 0, .7);
$grey:             rgba(0, 0, 0, 0.35);

$white:            rgba(255, 255, 255, .9);
$light-white:      rgba(255, 255, 255, .7);
$lightest-white:   rgba(255, 255, 255, 0.35);


// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


body {
  line-height: 1.5em;
  color: $light-black;
  letter-spacing: -.003em;
}

/*
p, a, h1, h2, h3, ul, li {
  opacity: 0;
    transition: opacity .5s ease-in-out;
     -moz-transition: opacity .5s ease-in-out;
     -webkit-transition: opacity .5s ease-in-out;
}

.fade-in {
  p, a, h1, h2, h3, ul, li {
    opacity: 1;
    transition: opacity .5s ease-in-out;
     -moz-transition: opacity .5s ease-in-out;
     -webkit-transition: opacity .5s ease-in-out;
  }
}
*/


.site-header {
  width: 30%;
  float: left;
  border: none;
  a {
    border-bottom: 1px solid #CCC;
    &.site-lead {
      font-weight: bold;
      text-decoration: none;
      border-bottom: none;
      font-size: 45px;
      letter-spacing: 2px;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      display: block;
      margin-bottom: 40px;
    }
  }
  .info {
    width: 60%;
    float: right;
    margin-top: 8em;
  }

  h3 {
    text-align: right;
  }

  ul {
    text-align: right;
    li {
      list-style-type: none;
    }
  }
}

.page-content {
  width: 50%;
  float: right;
  padding-right: 15%;
  padding-left: 5%;
  margin-bottom: 5em;
}

@include media-query(1450px) {
  .site-header {
    width: 60%;
    padding: 0 20% 0;
    a.site-lead {
      margin: 30px 0 0;
      font-size: 35px;
    }
    .info {
      width: 100%;
      float: none;
      margin-top: 0;
      ul, h3 {
        display: none;
      }
      .description {
        float: right;
        max-width: 50%;
        margin: -30px 0 50px;
      }
    }

    h3 {
      text-align: right;
    }

    ul {
      text-align: right;
      li {
        list-style-type: none;
      }
    }
  }

  .page-content {
    width: 60%;
    float: none;
    padding-right: 20%;
    padding-left: 20%;
  }
}

@include media-query(1000px) {
  .site-header {
    .description {
      display: none;
    }
  }
}


@include media-query(800px) {
  .page-content,
  .site-header {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }
}

.topic {
  background-color: $grey;
  color: #FFF;
  font-size: 12px !important;
  font-family: arial, sans-serif;
  padding: 5px;
  position: relative;
  top: -5px;
  left: 5px;
  border-radius: 2px;
  text-transform: uppercase;
  &.news {
    background-color: #FCEE5D;
  }
  &.tutorial {
    background-color: #FC6C5D;
  }
  &.opinion {
    background-color: #FC9D49;
  }
  &.code {
    background-color: #88B4FF;
  }
  &.tip {
    background-color: #CCC;
  }
  &.video {
    background-color: #74fc64;
  }
  &.ebook {
    background-color: #44f6fc;
  }
}


em {
  font-size: smaller;
}


a,
a:visited {
  color: $black;
  text-decoration: none;
}

a:visited {
  opacity: 0.65;
}

a:hover {
  text-decoration: none;
  color: $light-black;
}

h2 {
  font-family: 'Lato', sans-serif;
  color: $black;
  font-weight: 900;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1.25em;
}

h3 {
  margin: 25px 0 10px;
  font-style: italic;
  font-size: 16px;
}

.post-list {
  .author {
    color: $grey;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: -10px;
  }
  .excerpt {
    margin-top: 10px;
    display: block;
  }
}

ul li {
  line-height: 1.5em;
  margin: 1em 0 1em;
  font-weight: 100;
}

.colorbg {
  background-color: #555;
  color: $light-white;
  .site-header .site-lead {
    color: $white;
  }
  a, a:visited {
    color: $light-white;
  }
  h1 {
    color: $white;
  }
  h2 a {
    color: $white;
    &:hover {
      color: $light-white;
    }
  }
  footer ul li {
    color: $light-white;
  }
  .post-meta {
    color: $lightest-white;
  }
  .post-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.page-content {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.8em;
  padding-top: 5em;

  h1 {
    margin: 1.5em 0 0.5em;
  }
}

.post-list {
  li {
    border-bottom: 1px solid $base-border-color;
    position: relative;
    margin: 0;
    padding: 1.5em 0 1em;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      padding-top: 0;
    }
  }
}

.pagination {
  span.previous,
  span.next,
  a.next,
  a.previous {
    padding: 10px 30px 10px;
    border: 1px solid #DDD;
  }

  span.previous,
  span.next {
    background-color: rgba(0,0,0,0.1);
    display: none;
  }

  a:hover {
  }

  a.previous,
  span.previous {
    float: left;
  }

  a.next,
  span.next {
    float: right;
  }
}






