<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JSMonk, the best articles on javaScript from around the web.</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:900|Merriweather:300,300i,900" rel="stylesheet">
  </head>
  <body class="{% if page.slug %}{{ page.slug }}{% else %} {% endif %}{% if page.url == '/' %}homepage{% endif %} {% if page.url == '/about/' %}about-page{% endif %}">
    </div>
    <header class="site-header">
      <div class="info">
          <a href="/" class="site-lead">JSMonk</a> 
        <div class="description">
          <p>
            The best content, tutorials and articles on javaScript from around the web.</p>
          <p><em>by <a href="https://github.com/pashacraydon">Pasha Craydon</a></em></p>
          <!--
          <p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Article RSS Feed</a></p>
          -->
        </div>
        <h3>Resources</h3>
        <ul>
          <li><a href="http://benmccormick.org/">Ben Mccormick</a></li>
          <li><a href="https://addyosmani.com/blog/">Addy Osmani</a></li>
          <li><a href="https://reactjsnews.com/">React JS News</a></li>
          <li><a href="https://bitsofco.de/">Bits of Code</a></li>
          <li><a href="https://www.javascript.com/">javascript.com</a></li>
          <li><a href="http://badassjs.com/">Badass JavaScript</a></li>
          <li><a href="http://www.echojs.com/">Echo JS</a></li>
          <li><a href="https://www.paulirish.com/">Paul Irish</a></li>
          <li><a href="https://www.codeschool.com/learn/javascript">Code School</a></li>
          <li><a href="https://www.codecademy.com/learn/javascript">Code Academy</a></li>
        </ul>
      </div>
    </header>
    <div class="page-content">
      {{ content }}

      {% include footer.html %}
    </div>
  </body>
</html>